/* Write your CSS here */
.tabItem {
  color: #7b8794;
  border-bottom: solid 2px #7b8794;
  margin: 0px 10px;
  border: 0px;
}
.active {
  color: #2563eb;
  border-bottom: solid 2px #2563eb;
}
.lsts {
  list-style: none;
}
